body{
    background:#f2f2f2;
}
div[id = "inside"]{
    padding:20px;
    align-self:center;
    border-radius:10px;
    margin:70px 90px;
    height:80vh;
    background: linear-gradient(115deg, white 57%, #80bfff 43%) fixed;
    box-shadow:14px 24px 14px #d9d9d9;

}

h1{
    text-align: right;
    margin-right: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: lighter;


}
h2{
    font-size: 14px;
    text-align: right;
    margin-right: 80px;
    margin-top: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: lighter;
}
div[id = "form"]{
    float:left;
    clear:left;
    margin-left: 50px;
    width: 35%;
    border-color: transparent;
    
}
input[name=name], input[name = number]{
    width: 90%;
    padding: 8px 16px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
  }
  input[name = number]{
    background-repeat: no-repeat;
    background-image: url(visa.jpg.png);
    background-position: right;
    

  }
  label[for = "name"]{
    color:grey;
    display:block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
  }
  label[for = "number"]{
    color:grey;
    display:block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
  }
  input[name = expire]{
      float:left;
      clear:left;
      margin-right: 70px;
      margin-top: 12px;
      width: 35%;
      padding: 8px 16px;
      display: block;
      border: 1px solid #ccc;
      border-radius: 1px;
      box-sizing: border-box;
  }
  input[name = cvv]{
    float:left;
    clear:right;
    margin-top: 10px;
    width: 35%;
    padding: 8px 16px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
  }
  
  label[for = "expire"]{
      color:grey;
      float:left;
      clear:both;
      margin-right:125px;
      display:block;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 15px;
  }
  label[for = "cvv"]{
    color:grey;
    float: center;
    display:block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

input[type = checkbox]{
    float:left;
    display:inline-block;
}
label[for = "mem"]{
    margin-left:10px;
    color:grey;
    font-size:13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button[type = "submit"]{
    background-color: #0059b3;
    color:#f2f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding:15px 42px;
}
h3{
    text-align:right;
    margin-top: 210px;
    margin-right: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: white;
}

h4,h5,h6,h8,h13{
    margin:1px;
    text-align:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: white;
    font-size:14px;
}
div[id = "order"]{
    float:left;
    display:inline-block;
}

div[id = "price"]{
    clear:both;
    display:inline-block;
    text-align:right;
    margin-right:80px;
}

h9,h10,h11,h12{
    margin-right:90px;
    text-align:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: white;
    font-size:14px;
}
div[id = "summary"]{
    align-self:right;
    float:right;
}

div[id="form"]{
    float:left;
    clear:both;
}

h13{
    font-size:22px;
}
h14{
    font-size:22px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}





