body{
    background:linear-gradient(to bottom,#1f65e6 75%, white 75%) fixed;
    overflow-x: hidden;
}
div[id="side"]{
    color:white;
    background-color:#193d72;
    width: 16vw;
    height: 100vh;
    margin-top: 5vh;
    margin-left: 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    float:left;
}
a[id="hamburger"]{
    color:lightgray;
    font-size: 0vh;
    width: 0vw;
}
a[id="bell"]{
    color:yellow;
    font-size: 0vh;
}
a[id="title"]{
    float:left;
}

div[id="side"] a{
    line-height: 5vh;
    margin-left: 1.5vw;
}
a[id="menu"]{
    background-color:#fe6e4f;
    color:#193d72;
}

div[id="icons"]{
    clear:none;
    color: lightgrey;
    height: 75%;
    font-size: 2vh;
}
div[id="top"]{
    font-size: 2.4vh;
}

a[id="dash1"], a[id="dash2"]{
    color:rgb(88, 102, 148);
}
a[id="invoices"]{
    color:white;
}
a[id=logout]{
    color:lightgrey;
    font-size: 2vh;
}
div[id="main"]{
    float:left;
    margin-top: 5vh;
    background-color:white;
    width: 60vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: right;
    font-size: 1.5vh;
    margin-right: 1.5vw;
}
div[id="progress"]{
    background-color: #f8fafd;
    height: 10vh;
    font-size: 1.7vh;
    padding: 1vh 0vh;
    width: 100%;
}
div[id="prog"]{
    float: left;
    margin-left: 2vw;
    margin-top: 1vh;
    padding: 2vh;
    width: 20vw;
}
div[id="next"]{
    float: right;
    margin-right: 2vw;
    margin-top: 1vh;
    background-color: #f0f4f8;
    padding: 2vh;
    font-size: 1.5vh;
}
#myProgress{
    margin-top: 1vh;
    height: .4vh;
    width: 100%;
    background-color:lightgrey;
    border-radius: 15vh;
    
}
#myBar{
    height: .4vh;
    width: 75%;
    background-color: #5fdcd3;
    border-radius: 15vh;
}
a[id="greentxt"]{
    color: #5fdcd3;
}
button[id="arrow"]{
    font-size: .6vh;
    float:right;
    background-color: #f8fafd;
    padding: .5vh;
    border-radius: 50%;
    color:teal;
    border-color:#f0f4f8;
}
a[id="credit2"]{
    font-size: 1.5vh;
    color:rgb(151, 150, 150);
}
a[id="num1"]{
    font-size: 2.2vh;
}
div[id="invoices"]{
    width: 100%;
    height: 5vh;
    box-shadow: 0vh .2vh #f0f4f8;
    font-size: 1.8vh;
}
div[id="in"]{
    float:left;
    padding: 1.5vh 0vh;
    margin-left: 3.5vh;
    color:#1f65e6;
    box-shadow: 0vh .2vh #1f65e6;
}
div[id="rest"]{
    float:left;
    padding: 1.5vh 3vh;
}
div[id="right"]{
    padding: 1vh 0vh;
    text-align: right;
    float:right;
}
button[id="add"]{
    padding: .5vh 1vh;
    border-radius: 1.5vh;
    color:#1f65e6;
    border-color:#1f65e6;
    font-size: 1.3vh;
    margin-left: 1vh;
    margin-right: 3vh;
}

table[id="process"] th{
    color:grey;
    font-size: 1.2vh;
    font-weight: 400;
}
a[id="a"]{
    font-size: .5vh;
    color:blue;
}
tr[id="head"]{
    background-color: #f8fafd;
    text-align: left;
}
table[id="process"]{
    border-collapse: collapse;
    margin-left: 2.5vw;
    width: 95.8%;

}
td{
    padding: 1.5vh;
    font-size: 1.4vh;

}
th{
    padding: .6vh;
    padding-left: 1.3vw;
}
tr{
    border-bottom: .2vh solid #f8fafd;
}
h2{
    font-size: 2.3vh;
    display:inline;
}
div[id="advance"]{
    text-align: right;
    float:right;
    font-size: 1.5vh;
    margin-right: 1vw;
    
}
div[id="t"]{
    padding: 2vh;
    width: 95%;
}
a[id="advance"]{
    color:rgb(156, 155, 155)
}
div[id="l"]{
    float:left;
    font-size: 1.5vh;
}
div[id="dropmenu"]{
    float:right;
    margin-left: 1.5vw;
    box-shadow: 0vh .2vh #f0f4f8;
}
button[id="dropbtn"]{
    font-size: .6vh;
    float:right;
    background-color: white;
    padding: .5vh;
    border-radius: 50%;
    color:teal;
    border-color:#f0f4f8;
    margin-left: 8vw;
}
h3{
    font-size: 2.3vh;
    margin-left: 2vw;
}
div[id="header"]{
    padding-left: 2vw;
    padding-bottom: 4vh;
}
a[id="filter"]{
    color:rgb(156, 155, 155);
}
a[id="grey"]{
    color:rgb(156, 155, 155)
}
button[id="advance"]{
    background-color: #1f65e6;
    color: white;
    font-size: 1.3vh;
    font-weight: lighter;
    padding-top: .5vh;
    padding-bottom: .5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 2vh;
}
a[id="srch"]{
    font-size: 0vh;
    width: 0vw;
    height: 0vh;
}
div[id="sr"]{
    width: 0vw;
    height: 0vh;
}
div[id="process"]{
    box-shadow: 0vh .2vh #f0f4f8;
}
div[id="over"], div[id="over2"]{
    height: 0vh;
    width: 0vh;
    color:transparent;
    font-size: 0vh;
}
tr[id="btm"]{
    border-color:transparent;
}
button[id="advance2"]{
    color:transparent;
    border-color:transparent;
    background:transparent;
}




@media only screen and (max-width: 750px){
    body{
        background: white;
        overflow-x: hidden;
    }
    div[id="side"]{
        float:left;
        color:white;
        background-color:#193d72;
        width: 100vw;
        height: 16vh;
        margin-left: -1.7vw;
        margin-top: -2vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
    }
    div[id="side"] a{
        margin-left: 0vw;
    }
    a[id="menu"]{
        background-color:transparent;
        color:transparent;
    }
    a[id="invoices"], a[id="credit"], a[id="dash1"], a[id="flexcred"],a[id="bust"],a[id="transactions"]{
        color:transparent;
    }
    a[id="documents"], a[id="profile"], a[id="help"],a[id="dash2"],a[id="logout"]{
        color:transparent;
    }
    div[id="logout"]{
        color:transparent;
    }
    a[id="bell"]{
        font-size: 4vh;
        color:yellow;
        float:right;
        padding-right: 2vw;
    }
    a[id="title"]{
        float:none;
        font-size: 4vh;
    }
    a[id="hamburger"]{
        font-size: 4vh;
        float:left;
        padding-left: 2vw;
    }
    div[id="top"]{
        text-align: center;
        padding: 2vh;
        padding-top: 5vh;
    }

    div[id="main"]{
        background-color:white;
        width: 100vw;
        height: 100vh;
        margin-left: -1vw;
        margin-top: 0vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h1{
        color:transparent;
        background-color: transparent;
        height: 0vh;
        width: 0vh;
        font-size: 0vh;
    }
    div[id="next"]{
        height: 0vh;
        width: 0vh;
        color:transparent;
        background-color:transparent;
    }
    div[id="advance"]{
        color:transparent;
        background-color: transparent;
        font-size: 0vh;
        width: 0vh;
        height: 0vh;
    }
    a[id="greentxt"]{
        font-size: 0vh;
    }
    a[id="glass"]{
        font-size: 0vh;
    }
    div[id="sr"]{
        width: 100vw;
        height: 4vh;
        margin-top: 6.6vh;
        box-shadow: 0vh 1vh #f0f4f8;

    }
    a[id="srch"]{
        font-size: 1.7vh;
        color:grey;
        margin-left: 3vw;
    }
    div[id="invoices"]{
        float:left;
    }
    div[id="process"]{
        margin-top: 10vh;
        box-shadow: 0vh 1vh #f0f4f8;
    }
    div[id="prog"]{
        width: 90%;
        height: 3vh;
    }
    a[id="credit2"]{
        color:rgb(151, 150, 150);
        font-size: 2vh;
    }
    button[id="arrow"]{
        float: none;
    }
    a[id="num1"]{
        font-size: 3vh;
    }
    a[id="num2"]{
        font-size: 3vh;
    }
    button[id="add"]{
        padding: 1vh;
        border-radius: 2vh;
    }
    div[id="process"]{
        padding-top: 2vh;
    }
    a[id="in"]{
        font-size: 2vh;
    }
    a[id="advances"]{
        font-size: 2vh;
    }
    div[id="in"]{
        padding-bottom: 1.3vh;
    }
    table[id="process"]{
        background-color:green;
        color:transparent;
        width: 0vw;
        height: 0vh;
        position: relative;
        z-index: -1;
    }
    tr{
        border:none;
        width: 0vw;
    }
    th{
        color:transparent;
        width: 0vw;
    }
    tr[id="head"]{
        background:transparent;
        width: 0vw;
    }
    tr[id="head"] th{
        color:transparent;
        width: 0vw;
    }
    a[id="a"]{
        height: 0vh;
        width: 0vw;
        color:transparent;
        font-size: 0vh;
    }
    div[id="l"],div[id="dropmenu"]{
        height: 0vh;
        width: 0vh;
        color:transparent;
    }
    a[id="filter"]{
        color:transparent;
        font-size: 0vh;
    }
    button[id="dropbtn"], button[id="advance"]{
        width: 0vw;
        height: 0vh;
        color:transparent;
        padding: 0vh;
        border-color: transparent;
        background-color:transparent;
    }
    a[id="grey"]{
        font-size: 0vh;
    }
    td{
        width: 0vw;
    }
    div[id="over"]{
        width: 96vw;
        height: 24vh;
        z-index: 1;
        background-color:transparent;
        margin-top: -18vh;
        margin-left: 2vw;
        font-size: 2.2vh;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    div[id="lf"]{
        float:left;
    }
    div[id="rh"]{
        float:right;
        padding-right: 2vw;
    }
    div[id="hh"]{
        float:left;
        text-align: right;
    }
    div[id="far"]{
        float:right;
        padding-top: 1vh;
        padding-left: 1.5vw;
    }
    div[id="1"]{
        box-shadow: 0vh .3vh #f0f4f8;
        height: 6vh;
    }
    a[id="cash"]{
        color:#1a69cf;
    }
    a[id="rev"]{
        color:#8f949c;
    }
    div[id="2"]{
        padding-top: 2vh;
        box-shadow: 0vh .3vh #f0f4f8;
        height: 6vh;
    }
    div[id="3"]{
        padding-top: 2vh;
    }
    div[id="over2"]{
        width: 96vw;
        height: 24vh;
        z-index: 1;
        background-color:transparent;
        margin-top: -24vh;
        margin-left: 2vw;
        font-size: 2.2vh;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    button[id="advance2"]{
        background-color: #1f65e6;
    color: white;
    font-size: 1.7vh;
    font-weight: lighter;
    letter-spacing: .1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 2.5vh;
    }
   

    

}
