body{
    background-color:#dcf7f8;
}

div[id = "inside"]{
    background-color:white;
    height: 90%;
    margin:60px 50px;
    border-radius:10px;
}
header {
    text-align: justify;
    letter-spacing: 1px;
    height: 6em;
    padding: 2em 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:13px;
}
h1{
    color:teal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 22px;
    float:left;
    clear:both;
    margin-right:190px;
    margin-top:5px;
}

header a{
    margin-right: 43px;
}
button[id="offer"]{
    margin-left:60px;
    margin-right:20px;
    color:#16a0a5;
    padding:7px 18px;
    background-color:#ffffff;
    border-radius:16px;
    border-color:#16a0a5;
    border-width: 2px;
}
img[src="profile3.jpg"]{
    width:33px;
    border-radius:50%;
}

button[id="profile"]{
    background-color:transparent;
    border-color:transparent;
    color:lightgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div[id="offer details"]{
    margin-left:115px;
}

a[id="menu"]{
    color:#16a0a5;
    font-size:10px;
    box-shadow:4px 6px  #dcf7f8;
    margin-right:10px;
    text-align: justify;
    vertical-align: top;
}
a[id="details"]{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:22px;
    text-align: justify;
}
div[id="id"]{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em 10%;
    margin-left:25px;
}

a[id="num"]{
    font-size:20px;
    letter-spacing: .5px;
}
a[id="date"]{
    font-weight: lighter;
    color:rgb(165, 164, 164);
    font-size:12px;
    letter-spacing:.5px;
}
div[id ="body"]{
    display:table;
    margin-left:120px;
    margin-right:120px;
    box-shadow: 0px -2px #f3f3f3;
    border-spacing:15px;
}
div[id="buy"]{
    display:table-cell;
    background: linear-gradient(to right,white 14%,#f3f3f3 14%) fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    border-radius:1px;
    float:left;
    clear:left;
    padding: 0px 50px;
    width:80%;
    text-align: center;
}
button[id="buy"]{
    float:left;
    background-color:orange;
    color:white;
    padding:7px 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: right;
    letter-spacing: .5px;
    margin-top:10px;
    border-radius: 3px;
    margin-left:-75px;

}
a[id="arrow"]{
    float:left;
    clear:both;
    margin-right: 15px;
    margin-top:4px;
}
a[id="2"]{
    float:right;
    text-align:center;
}
a[id="price"]{
    font-size:30px;
    letter-spacing: 1px;
}
a[id="btc"]{
    color:rgb(148, 145, 145);
    font-size:14px;
    font-weight: lighter;
}
a[id="gross"]{
    color:rgb(148, 145, 145);
    font-size:10px;
    font-weight: lighter;
    letter-spacing: .5px;
}
a[id="%"]{
    color:#16a0a5;
    font-size: 12px;
    text-shadow: 3px 5px lightgrey;
}
a[id="percent"]{
    font-size:14px;
    letter-spacing: 1px;
}
button[id="offer2"]{
    padding:13px 20px;
    color:white;
    background-color: teal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size:15px;
    letter-spacing: 1px;
}
div[id="transaction"]{
    display:table-cell;
    float:center;
    padding:5px;
    padding-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 35%;
}
div[id="client"]{
    margin-left:10px;
    margin-top:10px;
    box-shadow: 0px -2px #f3f3f3;
}
img[id="1"]{
    width:10px;
}
img[id="2"]{
    width:10px;
}
div[id="f"]{
    display:inline-block;
    margin-top:15px;
    vertical-align: top;
    margin-right:80px;
}
a[id="client"]{
    display: block;
    color:grey;
    font-size: 12px;
    margin-bottom:10px;
}
a[id="h"]{
    margin-top:15px;
}
a[id="bank"]{
    margin-top:15px;
    display:inline-block;
    color:grey;
    font-size:12px;
    margin-bottom:10px;
}
div[id="g"]{
    display:inline-block;
}
a[id="flag"]{
    font-size:14px;
    letter-spacing: .5px;
}

div[id="z"]{
    display:inline-block;
    margin-top:15px;
    vertical-align: top;
    margin-right:30px;
}
a[id="shape"]{
    font-size:14px;
    color:#16a0a5;
    text-shadow: 1px 4px #16a0a5;
}
a[id="shape1"]{
    color:#16a0a5;
    text-shadow: 4px -4px #16a0a5;
}
a[id="shape2"]{
    color:#16a0a5;
}
div[id="score"]{
    display:table-cell;
    padding:20px;
    padding-left: 40px;
    padding-right:0px;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 35%;
}
a[id="verify"]{
    font-size:13px;
    font-weight: 500;
}
div[id="first"]{
    background-color: #f3f3f3;
    height:100px;
    width: 100%;
    
}
a[id ="stamp"]{
    color:grey;
    font-size: 10px;
    letter-spacing: .5px;
}
div[id="left"]{
    float:left;
    margin-left:10px;
    margin-top:13px;
}
div[id="100"]{
    float:right;
    background-color:#e6ecec;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding:12px;
    margin-top:25px;
}
a[id="star"]{
    color:rgb(236, 181, 30);
    font-size: 12px;
}
a[id="num"]{
    vertical-align: middle;
}
a[id="per"]{
    vertical-align: bottom;
    color:#cfc7c7
}
div[id="results"]{
    margin-top:15px;
}
tr[id="2"], tr[id="4"]{
    background-color:#f2f2f2;
}
table{
    border-collapse:collapse;
    width:100%;
}
td{
    padding:14px;
}
td[id="check"]{
    color:#16a0a5;
}
td[id="x"]{
    color:lightgrey;
}
div[id="chain"]{
    float:left;
    display:table-cell;
    margin-top:40px;
    margin-bottom:20px;
    margin-left:125px;
    width: 28%;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div[id="chain2"]{
    background-color: #faf9f9;
}
div[id="76"]{
    float:right;
    text-align:right;
    width:50px;
    background-color:#e6ecec;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding:12px;
    margin-top:20px;
}
a[id="chain"]{
    font-size:18px;
}
img[src="chain.jpg.png"]{
    vertical-align: middle;
    margin-left:10px;
}
div[id="bottom"]{
    width:90%;
    margin-left:15px;
    margin-top:5px;
    box-shadow: 0px -2px #e9e6e6;
    padding:10px 0px;

}
a[id="chaintxt"]{
    font-size:14px;
    letter-spacing: .5px;
    color:rgb(163, 159, 159);
}
div[id="members"]{
    width:90%;
    margin-left:12px;
    margin-top:10px;
}
div[id="check"]{
    float:right;
    vertical-align: text-top;
}
a[id="green"]{
    color:#16a0a5;
}
a[id="grey"]{
    color:lightgrey;
}
div[id="names"]{
    width:90%;
    margin-left:15px;
    margin-top:20px;
    box-shadow: 0px -2px #e9e6e6;
}
div[id="offer"]{
    float:center;
    display:table-cell;
    padding:40px 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div[id="offer2"]{
    background-color:#faf9f9;
}
img[id="offer.jpg.png"]{
    margin-left:10px;
    vertical-align:middle;
}
a[id="offer"]{
    font-size: 18px;
    vertical-align: 3ex;
}
div[id="bottom2"]{
    width:90%;
    margin-left:15px;
    margin-top:15px;
    box-shadow: 0px -2px #e9e6e6;
    padding:10px 0px;
}
div[id="pub"]{
    padding:10px 0px;
    box-shadow: 0px 2px #e9e6e6;
}
div[id="proof"]{
    display:table-cell;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align:top;
    padding: 40px 0px;
    padding-right: 120px;
}
div[id="proof2"]{
    background-color: #faf9f9;
}
img[src="proof.jpg.png"]{
    vertical-align: middle;
}



